*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: 10px;
    padding: 10px;
    height: 800vh;
    background-color: rgb(255, 255, 255);
    /* background: rgb(249,249,249);
    background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(235,235,235,1) 96%); */

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
 font-weight: 800;
 font-size: 30px;   
 justify-content: start;
 height: 90px;
 margin-left: 100px;
}

.items{
 justify-content: end;
  margin-right: 170px;
}
 a{
    text-decoration: none; 
    padding: 3px;
    color: black;
    font-weight: 600;
    margin-right:27px;
}
.banner{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.img img{
    height: 300px;
}

.massage{
    /* border: 2px solid ; */
    font-size: larger;
    font-size: 100PX;
    font-family:''  Verdana, sans-serif;
    font-weight: 300px;
    color: rgba(66, 1, 1, 0.89);
    margin-top: 100px;
    animation-duration: 2s;
    animation-delay: 1s;
   display: inline-block;
}
.mas{
    font-size: 17px;
    font-weight: 300;
    font-family: "Anuphan", serif;
  font-optical-sizing: auto;
    /* border: 2px solid black;     */
}
.btn{
    position:absolute;
    right: 260px;
    top: 350px;
    border-radius: 50%;
    color: red;
    padding: 20px 20px;
    background-color: rgb(245, 245, 245);
    border: white;
}
.many svg{
    color: red;
}

.btn:hover{
    background-color:rgb(255, 247, 247);
    transform: scale(1.1);

}
.mass{
    /* border: 2px solid black; */
    width: 800px;
    padding: 10px;
}
.bt{
    padding: 13px 35px;
    margin: 60px 0px;
    border-radius: 50px;
    /* background-color: rgb(255, 0, 21); */
    background-color: orangered;
    color: white;
    border: orangered;
}
.bt:hover{
    background-color:rgba(255, 0, 0, 0.874);
    transform: scale(1.1);
}

.who{
    /* border: 2px solid blue; */
    margin-top: 100px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 650px;
/* margin-left: 20px; */
}

.image-1 img{
    width: 500px;
    height: 450px;
    object-fit: cover;
    object-position: left;
    background-color: white;
    opacity: 0.2;
    border-radius: 50%;
    border: white;
}
.massage-1{
    margin-left: 30px;
}
.le {
    font-size: 30px;
    font-weight: 600;
    
}
.para{
    margin-top: 20px;
    font-family:  "Anuphan", serif;
    
}
.para-2{
    margin-top: 20px;
    font-family:  "Anuphan", serif;
}
.btn-1{
    padding: 13px 35px;
    margin: 60px 0px;
    border-radius: 50px;
    /* background-color: rgb(255, 0, 21); */
    background-color: orangered;
    border: orangered;
    color: white;

}
.btn-1:hover{
    transform: scale(1.1);
    background-color: rgb(236, 71, 11);
}
.image-2 img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin-left: 30px

}
.first{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.lo{
    text-align: center;
    padding: 10px;
    /* border: 2px solid black; */
    margin-left: 370px;
    width: 800px;
    height: 100px;
    
}
.box{
    margin-top: 60px;
    /* border: 2PX solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 270px;
    grid-template-areas: "b1 b2 b3";
    gap: 20px;
    width: 900px;
    margin-left: 300px;
    text-align: center;
    height: 450px;
}
h4{
    padding: 10px;
}
p{
    padding: 10px;
}
 svg{
    color:orangered
}
.box-1{
    border-radius: 20px;
    /* background-color: rgb(255, 255, 255); */
    grid-area: b1;
}
.box-1:hover{
    background-color: rgb(247, 246, 246);
    transform: scale(1.1);
}
.box-2{
    
    grid-area: b2;
    border-radius: 20px;
}
.box-2:hover{
    background-color: rgb(247, 246, 246);
    /* background-color: rgb(251, 255, 255); */
    transform: scale(1.1);
}
.box-3{
    grid-area: b3;
    border-radius: 20px;
}
.box-3:hover{
    background-color: rgb(247, 246, 246);
    /* background-color: rgb(221, 237, 237); */
    transform: scale(1.1);
}

.head{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.para-3{
    text-align: center;
    padding: 10px;
    /* border: 2px solid black; */
    margin-left: 370px;
    width: 800px;
    height: 100px;
}
.nox{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 450px;
    grid-template-areas: "n1 n2 n3 n4";
    gap: 15px;
    padding: 60px 20px;
    /* border: 2px solid black; */
    height: 780px;

}
.nox-1{
    /* margin-top: 15px; */
/* background-color: aliceblue; */
background-color: rgb(251, 251, 251);
grid-area: n1;
 
}
.nox-1 img{
    object-fit: cover;
    object-position: right;
  }
 .nox-2 img{
  object-fit: cover;
  object-position: center;
}
.nox-2{
    /* background-color: aliceblue; */
    background-color: rgb(251, 251, 251);
    grid-area: n2;
}
.nox-3{
    /* background-color: aliceblue; */
    background-color: rgb(251, 251, 251);
    grid-area: n3;
}
.nox-4{
grid-area: n4;
/* background-color: aliceblue; */
background-color: rgb(251, 251, 251);
}
.na1{
    display: flex;
    align-items: center;
    color: rgba(230, 156, 21, 0.874);
}
.happy{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.mass-4{
    text-align: center;
    padding: 10px;
    /* border: 2px solid black; */
    margin-left: 370px;
    width: 800px;
    height: 100px;
}

.cox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas: "v1 v2 v3";
    gap: 20px;
    height: 600px;
}
.cox-1 img{
    border-radius: 50%;
}
.c1 img{
    margin-left: 380px;
}
.c11 img{
    margin-top: 90px;
    margin-left: 0px;   
}
.c12 img{
    margin-top: 100px;
    margin-left: 380px;
}
.cox-1{
    grid-area: v1;
    /* background-color: rgb(252, 250, 250); */
    background-color: rgb(251, 251, 251);
}
/* .cox-1:hover{
    background-color: rgb(247, 246, 246);
    transform: scale(1.1);
} */
.c222 img{
    margin-top: 60px;
    margin-left: 200px;
    /* padding: 25px;    */
}
.cox-2 img{
    border-radius: 50%;
}
.k1{
    margin-left: 30px;
    margin-top: 40px;
}
.k2{
    margin-left: 190px;
    font-weight: 600;
}
.k3{
    margin-left: 190px;
}
.cox-2{
    /* background-color: rgb(252, 250, 250); */
    background-color: rgb(251, 251, 251);
    grid-area: v2;
}
/* .cox-2:hover{
    background-color: rgb(247, 246, 246);
    transform: scale(1.01);
    border-radius: 20px;
} */

.c3 img{
    margin-left: 100px; 
}
.c33 img{
margin-top: 70px;
}
.c333 img{
    margin-top: 60px;
    margin-left: 200px;
}
.cox-3 img{
    border-radius: 50%;
}
.cox-3{
    /* background-color: rgb(252, 250, 250); */
    background-color: rgb(251, 251, 251);
    grid-area: v3;
}
/* .cox-3:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
} */
.choose{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.man{
    height: 250px;
}
.mass-5{
    text-align: center;
    padding: 10px;
    /* border: 2px solid black; */
    margin-left: 370px;
    width: 800px;
    height: 100px;
}
.dox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-template-areas: "d1 d2 d3";
    gap: 30px;
    margin: 0px 250px;
    width: 990px;
    height: 500px;

    /* border: 2px solid black; */

}
.dol{
    font-weight: 800;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.light{
    padding: 12px;
    text-align: center;
}
.dox-1{
    /* background-color: aqua; */
    grid-area: d1;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
}
/* .dox-1:hover{
    background-color:rgb(243, 245, 247);
    transform: scale(1.1);
} */
.btn-3{
    margin-top: 50px;
    padding: 13px 35px;
    border-radius: 30px;
    background-color: orangered;
    border: orangered;
}
.btn-3:hover{
    transform: scale(1.1);
    background-color: rgb(236, 71, 11);
}

.memory{
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    margin-top: 20px;
}
.look{
    margin-top:12px;
    text-align: center;
}
.btn-6{
    margin-top: 50px;
    padding: 13px 35px;
    border-radius: 30px;
    background-color: orangered;
    border: orangered;
}
.btn-6:hover{
    transform: scale(1.1);
    background-color: rgb(236, 71, 11);
}
.dox-2{
    grid-area: d2;
    border-radius: 10px;
    /* background-color: azure; */
    background-color: rgb(251, 251, 251);
}
/* .dox-2:hover{
    background-color:rgb(243, 245, 247);
    transform: scale(1.1);
} */
.dox-3{
    grid-area: d3;
    border-radius: 10px;
    /* background-color: azure; */
    background-color: rgb(251, 251, 251);
}
/* .dox-3:hover{
    background-color:rgb(243, 245, 247);
    transform: scale(1.1);
} */
.sos{
    height: 350px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.jox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 335px;
    grid-template-areas: "j1 j2";   
    gap: 80px;
    margin: 0px 100px;
    height: 500px;
    
}
.jox-1{
    /* background-color: rgb(244, 244, 244); */
    background-color: rgb(251, 251, 251);
    grid-area: j1;
}
.jox-1 img{
    border-radius: 10px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 100px;
    margin-left: 120px;
}
.jox-2{
    /* background-color: rgb(98, 235, 235); */
    grid-area: j2   ;
}
.mass-7{
    margin-top: 60px;
    font-size: 25px;
    font-weight: 700;
}
.para-12{
    /* border: 2px solid black; */
    width: 400px;
    margin-top:  20px;


}
.btn-5{
    padding: 13px 35px;
    margin: 50px 0px;
    border-radius: 50px;
    /* background-color: rgb(255, 0, 21); */
    background-color: orangered;
    color: white;
    border: orangered;
}
.btn-5:hover{
    transform: scale(1.1);
    background-color: rgb(236, 71, 11);
}

.last{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    grid-template-areas: "o1 o2";
    gap: 20px;
    /* border: 2px solid black ; */
}
.mass-9{
    /* background-color: aqua; */
    grid-area: o1;
}
.mass-6{
    /* background-color: rgb(12, 94, 94); */
    grid-area: o2;
   
}
.link-1{
    float: left;
    color: rgba(140, 142, 145, 0.842);
    margin-left: 100px;
}
.link-2{
    float: left;
    /* color: rgb(152, 103, 103); */
    color: rgba(140, 142, 145, 0.842);
}
.link-1 h4{
    color: black;
}
.link-2 h4{
    color: black;
}
.btn-12{
    margin-top: 20px;
    padding: 13px 35px;
    border-radius: 30px;
    background-color: orangered;
    border: orangered;
    margin-left: 550px;
}
.btn-12:hover{
    transform: scale(1.1);
    background-color: rgb(236, 71, 11);
}
.mass-12{
    margin-left: 360px;
}
.love{
    margin-top: 50px;
    margin-left: 380px;
}
.mike{
    /* margin-left: 200px; */
    position: absolute;
    bottom: 0px;
}
.mike-1{
    position: absolute;
    top:1px;
    right: 0px;
}
.mike-2{
    position: absolute;
    left: 200px;
    top: 5660px;

}

@media(max-width:1050px){

    .container{
        /* background-color: rgb(197, 236, 236); */
        
    }
    .mike-1{
        height: 100px;
        width: 100px;
        position: absolute;
        top: 100px;
        right: 100px;
        /* filter: opacity(0.); */
    }
    .navbar{
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    .items{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .who{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 500px;
    }
}